<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Bootstrap -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- font awesome -->
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
   </head>
  <body>
  <% include partials/navbar.ejs%>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <hr>
    <div class="col-md-12">
      <div class="col-md-5">
        <div class="container">
          <div class="jumbotron">
            <h1>Location anaylitcs</h1>
            <p>Esta plataforma permite minar el contenido de diversas redes sociales, obtener sugerencias para el usuario y llevar a cabo recomendaciones basadas en las mismas.</p>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <!-- Bootstrap JavaScript -->
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</html>
