body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.btn-primary {
  background: none !important;
  border: 2px solid #BDBDBD !important; /*#a6192e*/;
  color: #BDBDBD !important; /*#a6192e*/;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background: #BDBDBD !important/*#a6192e*/;
  color: white !important;
  border: 2px solid #BDBDBD !important /*#a6192e*/;
}

btn-primary:active, btn-primary.active{
  border-color: #9e9e9e !important;
  background: #9e9e9e !important;
  color: white;
  box-shadow: none;
}

#ex1Slider .slider-selection {
  background: #BABABA;
}